<!DOCTYPE html>

<html>
<body>


<p>
<font size="5" color="green">绘制曲线图</font>
</p>

<div class="container">
     <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8"  >
        

    

    <form action="/add/" method="get" role="form">
    	<div class="form-group">
    	控制盒设备号: <input type="text" name="uid"> <br>
    	<label for="name">选择颜色</label>
    	 <select type="text" class="form-control" id="color" name="color"> 
          <option>    R1    </option> 
          <option>    R2    </option> 
          <option>    G1    </option> 
          <option>    G2    </option>
          <option>    B1    </option>
          <option>    B2    </option>
          </select>
          <br/>
    		
    
    	<button type="submit" class="btn btn-primary">生成图片</button>
    </form>
    
     </div>
	
	
    </div>
	
	
	
</body>
</html>